// importaciones

// abstract
@import "abstract/variables";
@import "abstract/mixins";
@import "abstract/function";

// base
@import "base/reset";

// components
@import "component/buttons";
@import "component/navbar";
@import "component/pagination";

//layout
@import "layout/hero-section";
@import "layout/container";
@import "layout/footer";
@import "layout/grid";

//pages
@import "pages/contact";
@import "pages/home";

//themes
@import "themes/theme";

//vendors
@import "vendors/vendors";

//svg
@import "base/svg"