.navbar-img {
    width: 50px;
    height: 50px;
    position: relative;
}

.nav-emprendimiento{
    background-color: $color-black;
}

.navbar-toggler:hover{
    background-color: $color-tangerine;
}
.navbar-nav{
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    margin-bottom: 0;
    list-style: none;
    justify-content: center;
}
.nav-item{
    padding: 10px 40px;
  
}
