//* breakpoint*//
$min-cell:576px;
$min-desktop: 992px;

$fs-xxxxx-large: 50px;
$fs-xxxx-large: 45px;
$fs-xxx-large: 40px;
$fs-xx-large: 35px;
$fs-x-large: 30px;
$fs-large: 20px;
$fs-medium: 16px;
$fs-small: 14px;
$fs-x-small: 12px;

$fw-regular: 400;
$fw-bold: 700;


$ff-poppins: 'Poppins', sans-serif;
$ff-ubuntu: 'Ubuntu', sans-serif;

$color-black: #000000;
$color-sable: #060606;
$color-charcoal: #2E1503;
$color-white: #FFFFFF;
$color-tangerine: #FFAF6D;
$color-orange: #ffa500;